---
#title: "Splash Page"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-1.jpg
excerpt: DNSsecured -- to DoH or not to DoH
intro: 
  - excerpt: Vet belangrijk verhaaltje komt hier, zeer pakkend enzo
feature_row:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    alt: "placeholder image 1"
    title: "Sölden, vet koud"
    excerpt: Erg tof, koud weer, mooie fotos
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: Kölen
    excerpt: Ook erg mooi, bruggetje
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Bergen zijn fijn"
    excerpt: Skieën is mooi
---

{% include feature_row id="intro" type="center" %}
{% include feature_row %}
